<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Cardstream
 * @package    Hosted
 * @copyright  Copyright (c) 2009 - 2012 Cardstream Limited (http://www.cardstream.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Cardstream_CardstreamHosted>
            <version>2.0.0</version>          
        </Cardstream_CardstreamHosted>
    </modules>
    <global>
        <models>
            <CardstreamHosted>
                <class>Cardstream_CardstreamHosted_Model</class>
                <resourceModel>CardstreamHosted_mysql4</resourceModel>
            </CardstreamHosted>
            <CardstreamHosted_mysql4>
                <class>Cardstream_CardstreamHosted_Model_Mysql4</class>
                <entities>
                    <CardstreamHosted_Trans><table>CardstreamHosted_Trans</table></CardstreamHosted_Trans>
                </entities>
            </CardstreamHosted_mysql4>
        </models>
        <resources>
            <CardstreamHosted_setup>
                <setup>
                    <module>Cardstream_CardstreamHosted</module>
                    <class>Cardstream_CardstreamHosted_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </CardstreamHosted_setup>
            <CardstreamHosted_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </CardstreamHosted_write>
            <CardstreamHosted_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </CardstreamHosted_read>
        </resources>
        <blocks>
            <CardstreamHosted><class>Cardstream_CardstreamHosted_Block</class></CardstreamHosted>
        </blocks>
        <helpers>
            <CardstreamHosted>
                <class>Cardstream_CardstreamHosted_Helper</class>
            </CardstreamHosted>
        </helpers>
    </global>
    <frontend>
        <routers>
            <CardstreamHosted>
                <use>standard</use>
                <args>
                    <module>Cardstream_CardstreamHosted</module>
                    <frontName>CardstreamHosted</frontName>
                </args>
            </CardstreamHosted>
        </routers>
        <translate>
            <modules>
                <Cardstream_CardstreamHosted>
                    <files>
                        <default>Cardstream_CardstreamHosted.csv</default>
                    </files>
                </Cardstream_CardstreamHosted>
            </modules>
        </translate>
        <layout>
            <updates>
                <CardstreamHosted>
                    <file>CardstreamHosted.xml</file>
                </CardstreamHosted>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Cardstream_CardstreamHosted>
                    <files>
                        <default>Cardstream_CardstreamHosted.csv</default>
                    </files>
                </Cardstream_CardstreamHosted>
            </modules>
        </translate>
    </adminhtml>

    <default>
         <payment>
             <CardstreamHosted_standard>
                  <model>CardstreamHosted/standard</model>
                  <title>Cardstream Hosted Form</title>
                  <allowspecific>1</allowspecific>
            </CardstreamHosted_standard>
        </payment>
    </default>
</config>