<?xml version="1.0"?>
<config>
	<modules>
		<Cardstream_PaymentGateway>
			<version>2.0.1</version>
		</Cardstream_PaymentGateway>
	</modules>
	<global>
		<models>
			<PaymentGateway>
				<class>Cardstream_PaymentGateway_Model</class>
				<resourceModel>PaymentGateway_mysql4</resourceModel>
			</PaymentGateway>
			<PaymentGateway_mysql4>
				<class>Cardstream_PaymentGateway_Model_Mysql4</class>
				<entities>
					<CardstreamTransactions><table>CardstreamTransactions</table></CardstreamTransactions>
				</entities>
			</PaymentGateway_mysql4>
		</models>
		<resources>
			<PaymentGateway_setup>
				<setup>
					<module>Cardstream_PaymentGateway</module>
					<class>Cardstream_PaymentGateway_Model_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</PaymentGateway_setup>
			<PaymentGateway_write>
				<connection>
					<use>core_write</use>
				</connection>
			</PaymentGateway_write>
			<PaymentGateway_read>
				<connection>
					<use>core_read</use>
				</connection>
			</PaymentGateway_read>
		</resources>
		<blocks>
			<PaymentGateway><class>Cardstream_PaymentGateway_Block</class></PaymentGateway>
		</blocks>
		<helpers>
			<PaymentGateway>
				<class>Cardstream_PaymentGateway_Helper</class>
			</PaymentGateway>
		</helpers>
	</global>
	<frontend>
		<routers>
			<PaymentGateway>
				<use>standard</use>
				<args>
					<module>Cardstream_PaymentGateway</module>
					<frontName>cardstream</frontName>
				</args>
			</PaymentGateway>
		</routers>
	</frontend>
	<default>
		<payment>
			<PaymentGateway_standard>
				<active>1</active>
				<model>Cardstream_PaymentGateway_Model_Standard</model>
				<title>Cardstream Payment Gateway</title>
				<message>Pay with Cardstream</message>
			</PaymentGateway_standard>
		</payment>
	</default>
</config>